body {
    font: 20px Arial, sans-serif;
    margin: 20px;
    /* Set a #1f242d background color */
    background: #1f242d;
}


/* Use a media query to change the background color for screens smaller than 600px */

@media (max-width: 600px) {
    body {
        background-color: #1f242d;
    }
}

h1 {
    text-align: center;
    color: white;
    animation: text-color 2s infinite;
}


/* Define the animation */

@keyframes text-color {
    0% {
        color: yellow;
    }
    50% {
        color: red;
    }
}

p {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}

#gpa-form {
    width: 80%;
    margin: 0 auto;
}

#gpa-table {
    border-collapse: collapse;
    width: 100%;
}

#gpa-table th {
    background: lightblue;
    padding: 10px;
}

#gpa-table td {
    border: 1px solid black;
    padding: 5px;
}

#gpa-table input {
    width: 80%;
}

#add-course,
#add-semester,
#calculate-gpa {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: rgb(0, 87, 128);
    color: white;
    border: none;
    cursor: pointer;
    /* Set the border radius to 50% */
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: rgb(0, 87, 128);
    color: white;
    border: none;
    cursor: pointer;
    /* Set the border radius to 50% */
    border-radius: 50%;
    /* Add a shadow effect */
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}


/* Hide the prior GPA section by default */

#prior-gpa {
    display: none;
}

#gpa-result {
    width: 80%;
    margin: 20px auto;
    border: 2px solid blue;
    padding: 10px;
    /* Add an animation */
    animation: border-color 3s infinite;
}


/* Define the animation */

@keyframes border-color {
    0% {
        border-color: blue;
    }
    50% {
        border-color: yellow;
    }
    100% {
        border-color: red;
    }
}

#gpa-result p {
    font-weight: bold;
}

.balloon {
    position: absolute;
    width: 50px;
    height: 75px;
    border-radius: 0 0 50px 50px;
    transition: bottom 4s ease-in, opacity 4s ease-in;
}

.balloon:before,
.balloon:after {
    content: "";
    position: absolute;
}

.balloon:before {
    width: 50%;
    height: 50%;
    top: -25%;
    left: 25%;
    border-radius: 50%;
}

.balloon:after {
    width: 2px;
    height: 50px;
    background-color: black;
    top: 100%;
    left: calc(50% - 1px);
}